.excel__container__offers__1{
    width: 800px;
    text-align:"center";
    display: flex;
}

.excel__container__offer__2{
    width: 800px;
    text-align:"center";
    display: flex;
}

.excel__container__offer__3{
    width: 800px;
    text-align:"center";
    display: flex;
}

.offers__add__button{
    height: 50px;
    width: 100px;
    border: 0;
    background-color: transparent;
    margin-left: 10px;
    border-radius: 1em 1em 1em 1em;
    transition: 0.3s;
    font-family: 'Montserrat', sans-serif;    
}