.popUp__input__text2{
    width: 237px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-left: 5px;
    height: 30px;
}

.popUp__buttons__container__users2{
    margin-top: 60px;
}