.container {
	background: #fff;
	width: 100%;
	max-width: 77%;
	margin: 20px auto;
    margin-left: 20%;
	margin-top: 5%;
	zoom: 1.20;
    font-family: 'Montserrat', sans-serif;
}

.button__description{
    height: 50px;
    width: 100px;
    border: 0;
    background-color: transparent;
    margin-left: 10px;
    border-radius: 1em 1em 1em 1em;
    transition: 0.3s;
    font-family: 'Montserrat', sans-serif;
}

.container__left__library{
	margin-top: -120px;
	float: left;
    width: 24%;
    font-family: 'Montserrat', sans-serif;
}