/*Boton de Library*/
.new__library__button{
    height: 50px;
    width: 200px;
    border: 1px solid #0070ED;;
    background-color: transparent;
    border-radius: 1em 1em 1em 1em;
    transition: 0.3s;
    font-family: 'Montserrat', sans-serif;    
    color: white;
    background-color:#0070ED;
    font-weight: bold;
    margin-top: 10px;
    font-size: 17px;
}

.new__library__button:hover{
    background-color: #99C6F8;
    color: black;
}

.select__group__project{
    width: 493px;
}

.create__project__select{
    font-size: 16px;
    height: 37px;
    width: 200px;
    margin-bottom: 17px;
    border-radius: 5px 5px 5px 5px;
}

.component__container{
    text-align: center;
}

.name__input{
    font-size: 18px;
    height: 37px;
    width: 200px;
    margin-bottom: 17px;
    border-radius: 5px 5px 5px 5px;
}

.project_type_label{
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
}

.component__description__input__text{
    width: 100%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #D2D2D2;
    border-radius: 4px;
    font-size: 16px;
}