.rrr{
    background-color: #FF3358;
}

.www{
  background-color: white;
}

.yyy{
  background: #FFCA42;
  
}

.ggg{
  background: #7BD36D;
}

.bbb{
  background: #99C6F8;
  
}

.attach__icon{
    height: 25px;
    width: auto;
    margin-top: 2px;
}

.filter__input{
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
    
}

.filter__table{
    position: flex;
    margin-top: -57px;
    font-family: 'Quicksand', sans-serif;
}

.dataTable__header__text{  
    font-weight : bold;
    margin : auto;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
  }
  
  .dataTable__container{
    position: relative;
    font-family: 'Quicksand', sans-serif;
  }
  
  .dataTable__elements{
    position: absolute;
    bottom: 25;
    font-family: 'Quicksand', sans-serif;
    left: 0;
  }
  .ant-table table { font-size: 16px !important; }