.sub__checkbox{
	margin-left: 100px;
}

.parent__checkbox{
	text-align: left;
	margin-left: 90px;
}

.text__checkbox__library {
	display: inline;
	font-size: 18px;
	font-weight: 500;
}

.container__checkbox {
	text-align: left;
}

/* Estilos Buscador */

.container__search{
	margin-left: 22%;
	width: 100%;
	display: flex;
	margin-bottom: 5%;
}

@media (max-width: 988px){
  
	.input__search{
	  width: 100% !important;
	}
  
	.container__checkbox{
		padding-bottom: 15px;
	}
  }