.sub__checkbox__familias{
	margin-left: 150px;
}

.sub__checkbox__marcas{
	margin-left: 150px;
}

.sub__checkbox__tipoP{
	margin-left: 150px;
}

.sub__checkbox__disciplinas{
	margin-left: 150px;
}

.parent__checkbox{
	text-align: left;
	margin-left: 120px;
	margin-top: 20px;
}

.text__checkbox__library {
	display: inline;
	font-size: 18px;
	font-weight: 500;
}

.container__checkbox {
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}

/* Estilos Buscador */

.container__search{
	margin-left: 20%;
	width: 80%;
	display: flex;
	margin-bottom: 1%;
	font-size: 18px;
	border-radius: 100px;
}

@media (max-width: 700px){
	
	.input__search{
		width: 100% !important;
	}
	
	.container__checkbox{
		padding-bottom: 15px;
		font-family: 'Montserrat', sans-serif;
	}
}

/* Filters container transition */
.panel__heading{
	cursor: pointer;
	font-weight: normal;
}